<?xml version="1.0"?>
<model>
  <name>simple_robotrobot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>auto</name>
    <email>none</email>
  </author>
</model>
<?xml version="1.0"?>
<model>
  <name>simple_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>gazebo_sim</name>
    <email>noreply@example.com</email>
  </author>
  <description>Simple box model used by dynamic spawn test</description>
</model>
